---
import { urlFor } from "lib/utils"
import { Settings } from "lib/interfaces"
const { settings } = Astro.props as { settings: Settings }
---

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">

<title>{settings.title && settings.title}</title>
<meta
  name="description"
  content={settings.description && settings.description}
>

<link
  rel="preload"
  href="/fonts/futurapt-bold.woff2"
  as="font"
  crossorigin
/>
<link
  rel="preload"
  href="/fonts/futurapt-book.woff2"
  as="font"
  crossorigin
/>
<link
  rel="preload"
  href="/fonts/futurapt-demi.woff2"
  as="font"
  crossorigin
/>

<meta property="og:title" content={settings.ogTitle}>
<meta property="og:description" content={settings.ogDescription}>
<meta property="og:url" content="https://stefanknapp.art">
<meta property="og:image" content={
  urlFor(settings.ogImage)
    .auto("format")
    .width(1200)
    .height(630)
    .quality(100)
    .url()
}>
<meta property="og:site_name" content={settings.title}>
<meta property="og:locale" content="en_GB">
<meta property="og:type" content="article">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content={settings.ogTitle}>
<meta name="twitter:description" content={settings.ogDescription}>
<meta name="twitter:site" content="@sciencefidelity">
<meta name="twitter:image" content={
  urlFor(settings.ogImage)
    .auto("format")
    .width(1200)
    .height(630)
    .quality(100)
    .url()
}>
<meta name="twitter:creator" content="@sciencefidelity">

<link rel="icon" type="image/svg" href="/favicon.svg" />
<link rel="mask-icon" href="/mask-icon.svg" color="#E1DDD0" />
