---
import { LocaleSettings } from "lib/interfaces"
const { settings } = Astro.props as { settings: LocaleSettings }
---

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">

<title>{settings.title && settings.title}</title>
<meta
  name="description"
  content={settings.description && settings.description}
>
<!-- <meta name="keywords" content={keywords}> -->

<meta property="og:title" content={settings.ogTitle}>
<meta property="og:description" content={settings.ogDescription}>
<!-- <meta property="og:url" content={settings.cannonicalURL}> -->
<!-- <meta property="og:image" content={seoImage}> -->
<meta property="og:site_name" content={settings.title}>
<meta property="og:locale" content="en_GB">
<meta property="og:type" content="article">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content={settings.ogTitle}>
<meta name="twitter:description" content={settings.ogDescription}>
<!-- <meta name="twitter:site" content={twitterHandle}> -->
<!-- <meta name="twitter:image" content={seoImage}> -->
<meta name="twitter:creator" content="@sciencefidelity">

<!-- <link rel="icon" type="image/x-icon" href={design.icon.url} /> -->
<!-- <link rel="mask-icon" href={design.icon.url} color="#FFDC5D" /> -->
<!-- <meta name="theme-color" content={design.accentColor}> -->
