---
import { Label, Settings } from "lib/interfaces"

const { i18nSlug, labels, languages, locales, settings } = Astro.props as {
  i18nSlug: string
  labels: Label[]
  languages: string[]
  locales: string[]
  settings: Settings
}
const year = new Date().getFullYear()
---

<footer class="footer flex relative">
  <div class="container">
    <div class="links">
      <div class="link">
        <a href={`/${locales[1] && locales[1] + "/"}${i18nSlug}`}>
          {languages[1].toLowerCase()}
        </a>
      </div>
      <div class="link">
        <a href={`/${locales[0]}`}>{labels[2].text.toLowerCase()}</a>
      </div>
    </div>
    <div class="copy">&copy; {year} {settings.title.toLowerCase()}</div>
  </div>
</footer>
