---
import { Label, NavItem } from "lib/interfaces"

const { labels, locales, navItems, title } = Astro.props as {
  labels: Label[]
  locales: string[]
  navItems: NavItem[]
  title: string
}
---

<nav class="nav">
  <div class="nav nav--front">
    <button class="hamburger outline" onclick="toggleMenu()">
      <span class="sr-only absolute">{labels[1].text}</span>
      <div id="menu-button" class="hamburger__icon relative"></div>
    </button>
    <div id="menu-container" class="nav__inactive">
      <ul class="nav__list flex">
        {navItems.map(item =>
          <li class="relative ml-auto">
            <a
              href={`/${locales[0] && locales[0] + "/"}${item.url}`}
              data-fill={item.label.toUpperCase()}
              class="nav__link inline m-auto transparent no-underline"
            >
              {item.label.toUpperCase()}
            </a>
          </li>
        )}
      </ul>
      <div class="nav__title-container flex">
        <p class="nav__title">{title.toUpperCase()}</p>
      </div>
    </div>
  </div>
</nav>
