---
import { Label, NavItem, Page } from "lib/interfaces"

const { labels, languages, locales, navItems, page } = Astro.props as {
  labels: Label[]
  languages: string[]
  locales: string[]
  navItems: NavItem[]
  page: Page
}
---

<header>
  <nav>
    <div class="nav">
      <button class="hamburger" onclick="toggleMenu()">
        <span class="sr-only absolute">{labels[1].text}</span>
        <div id="menu-button" class="hamburger__icon"></div>
      </button>
    </div>
    <div id="menu-container" class="nav__inactive">
      <ul class="nav__list">
        {navItems.map(item =>
          <li class="nav__item">
            <a
              href={`/${locales[0] && locales[0] + "/"}${item.url}`}
              class="nav__link"
            >
              {item.label.toUpperCase()}
            </a>
          </li>
        )}
        <li class="nav__item">
          <a
            href={`/${locales[0]}`}
            class="nav__link"
          >
            {labels[2].text.toUpperCase()}
          </a>
        </li>
        <li class="nav__item">
          <a
            href={`/${locales[1] && locales[1] + "/"}${page.i18nSlug}`}
            class="nav__link"
          >
            {languages[1].toUpperCase()}
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
