---
import "modern-normalize"
import "styles/global.scss"
import "styles/index.scss"
import BaseHead from "components/BaseHead.astro"
import FrontNav from "components/FrontNav.astro"
import { NavItem, LocaleSettings } from "lib/interfaces"

const { languages, locales, navigation, settings } = Astro.props as {
  languages: string[]
  locales: string[]
  navigation: NavItem[]
  settings: LocaleSettings
}
const artist = "Knapp"
const year = new Date().getFullYear()
---

<head>
  <BaseHead settings={settings} />
</head>
<body class="grid body relative">
  <main class="container main relative w-full">
    <div class="flex">
      <div class="logo relative w-full">
        <div class="circle relative w-full">
          <a href={navigation[0].url}>
            <div class="title">
              <h1 class="h1">{artist.toUpperCase()}</h1>
            </div>
          </a>
        </div>
      </div>
      <FrontNav
        navItems={navigation}
        title={settings.title}
        locales={locales}
      />
    </div>
  </main>

  <footer class="footer flex w-full">
    <nav class="front-lang">
      <a href={`/${locales[1]}`}>{languages[1].toUpperCase()}</a>
    </nav>
    <div class="front-copy">&copy; {year} {settings.title}</div>
  </footer>


  <script is:inline>
    let showMenu = false
    const menu = document.querySelector("#menu-button")
    const nav = document.querySelector("#menu-container")
    const toggleMenu = () => {
      if (!showMenu) {
        menu.classList.add("hamburger__icon--active")
        nav.classList.remove("nav__inactive")
        nav.classList.add("nav__active")
        showMenu = true
      } else {
        menu.classList.remove("hamburger__icon--active")
        nav.classList.remove("nav__active")
        nav.classList.add("nav__inactive")
        showMenu = false
      }
    }
  </script>

</body>
