---
import "modern-normalize"
import "styles/global.scss"
import "styles/pages.scss"
import BaseHead from "components/BaseHead.astro"
import Header from "components/Header.astro"
import Footer from "components/Footer.astro"
import { Label, NavItem, LocaleSettings, Page } from "lib/interfaces"

const {
  labels,
  languages,
  locales,
  navigation,
  page,
  settings
} = Astro.props as {
  labels: Label[]
  languages: string[]
  locales: string[]
  navigation: NavItem[]
  page: Page
  settings: LocaleSettings
}
---

<html lang={locales[0] ? locales[0] : "en"}>
  <head>
    <BaseHead locales={locales} page={page} settings={settings} />
  </head>
  <body>
    <Header labels={labels} locales={locales} navItems={navigation} />
    <main>
      <slot />
    </main>
    <Footer
      i18nSlug={page.i18nSlug}
      labels={labels}
      languages={languages}
      locales={locales}
      settings={settings}
    />
    <script is:inline>
      let showMenu = false
      const menu = document.querySelector("#menu-button")
      const nav = document.querySelector("#menu-container")
      const toggleMenu = () => {
        if (!showMenu) {
          menu.classList.add("hamburger__icon--active")
          nav.classList.remove("nav__inactive")
          nav.classList.add("nav__active")
          showMenu = true
        } else {
          menu.classList.remove("hamburger__icon--active")
          nav.classList.remove("nav__active")
          nav.classList.add("nav__inactive")
          showMenu = false
        }
      }
    </script>
  </body>
</html>
